/* GENERALITE */
*{
	padding:0px;
	margin:0px;
}

body  {	
	background-color:#1b4086;
	background-image:url(images/fond-site.gif);
	background-repeat:repeat-x;
}
img{
    padding: 4px;
	vertical-align: middle;
}
img.imageGauche{
	float:left;
	margin-right:20px;
}
img.logoPrincipal{
    display: block;
    margin: auto;
    vertical-align: middle;
}
img.imageDroite{
	float:right;
	margin-left:20px;
}
a{
	color:#FFFFFF;	
}
#logout {
	text-align:right;
    margin-right: 50px;
    margin-top: 10px;
}
p{
	margin-bottom:50px;	
	font-weight:normal;
	padding-top:5px;
	font-family: "verdana";
	font-size: 11px;
	color:#6c2323;
	text-align:justify;
}
#global { 
    margin-left: auto; /* Permet de centrer le site */
    margin-right: auto; /* Permet de centrer le site */
    width: 800px;
	text-align:left;
	padding-bottom:0px;
}
/* BANDEAU */
#bandeau {
	padding:13px;
	background-color:#1b4086;
	background-image:url(images/fond-haut.gif);
	background-repeat:repeat-x;
	height:55px;
}
.titreSite {
	font-family: "trebuchet ms";
	font-size: 25px;
	color:#641616;
}
.slogan {
	font-family:"trebuchet ms";
	font-size:12px;
	color:#641616;
}
/* MENU DE NAVIGATION */
#menu {
	list-style: none;
	margin: 0px;
	padding: 0px;
	background: #a77b7c;
}
#menu li {
	display: inline;
	background: #a77b7c;
	color: #FFFFFF;
	border-right:#FFFFFF solid 1px;
	padding-top:0px;
	font-size:12px;
}
#menu li a {
	padding: 0px 30px;
	text-align: center;
	text-decoration: none;
	background: #a77b7c;
	color: #FFFFFF;
	font-family:trebuchet ms;
	font-weight:bold;
}
#menu li a:hover, #menu li a:focus, #menu li a:active {
	background: #641616;
	text-decoration: underline;
}
/* CONTENU DE LA PAGE */
#contenu {
	padding:20px;
}
h2 {
	font-family: "verdana";
	font-size: 20px;
	color:#FFFFFF;
	font-variant: small-caps;
	text-align:center;
}
/* PIED DE PAGE */
#piedDePage{
	text-align:center;
	font-family:verdana;
	font-size:12px;
	color:#FFFFFF;	
}
/*EXPLORATEUR DOCS*/
 
ul {
    list-style : none;
    margin : 0px;
    padding : 0px;
    padding-left : 25px;
}
 
li {
    padding-left : 48px;
    line-height : 48px;
    cursor : pointer;
}
 
li.folder {
    background : url("images/folder.png") no-repeat left center;
}
 
li.file {
    background : url("images/file.png") no-repeat left center;
}
